header{
    height: 15%;
    width: 100%;
    background: aqua;
    float: top;
}

aside {
    height: 40%;
    width: 30%;
    background: #4a8b12;
    float: left;
}

main {
    display: block;
    height: 30%;
    background: #c6c304;
}

div.extra_context {
    display: block;
    height: 10%;
    background: gray;
}

footer {
    width: 100%;
    height: 15%;
    /*clear: both;*/
    text-align: center;
    background: coral;
}

h3 {
    text-align: center;
    margin-top: 0;
}

html, body
{
    height: 100%;
}