.content_block {
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    font-family: Poppins, sans-serif;
}

.header_block {
    padding: 3% 7%;
    height: 300px;
    font-family: Poppins, sans-serif;
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
}

.header_content {
    display: inline-block;
    width: 30%;
    margin-right: 1%;
    height: 100%;
    color: #ddd;
}

.title_block {
    display: inline-block;
    width: 10%;
}

.desc_block {
    display: inline-block;
    width: 90%;
}

.divider {
    border-bottom: 1px solid #ddd;
}

a {
    color: #ddd;
}

img {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

hr {
    margin-left: 7%;
    margin-right: 7%;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding-right: 5%;
}

html, body {
    height: 100%;
}